<a href="https://colab.research.google.com/github/Wrietenea/py_ml/blob/main/ml_kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
DATA = pd.read_csv("data4.csv", delimiter=',', index_col='Object')

In [4]:
DATA

         X   Y  Cluster
Object
1        6  10        0
2       17   5        1
3       17   4        2
4       17  16        1
5       11   4        2
6       14   6        2
7       15  12        0
8        1   1        2
9        3   4        0
10      10  17        1
11       6  19        2
12      18  12        0
13      10  16        0
14       9   3        2
15      12  14        2

In [5]:
coords = DATA.drop('Cluster', axis=1)

In [6]:
from sklearn.cluster import KMeans

In [7]:
kmeans = KMeans(n_clusters=3, init=np.array([[10.4, 10.8], [14.67, 12.67], [10.0, 7.29]]), max_iter=100, n_init=1)

In [8]:
centroid = np.array([[10.4, 10.8], [14.67, 12.67], [10.0, 7.29]])

In [9]:
model = kmeans.fit(coords)
model.labels_.tolist()

[0, 2, 2, 1, 2, 2, 1, 2, 2, 0, 0, 1, 0, 2, 1]

In [10]:
alldistances = kmeans.fit_transform(coords)
alldistances

array([[ 5.85234996, 10.12422837,  7.49012956],
       [13.82931669,  8.63133825,  6.81085568],
       [14.60308187,  9.61769203,  6.7158053 ],
       [ 9.01387819,  2.91547595, 13.87554007],
       [11.88486432, 10.51189802,  0.72843136],
       [11.23610253,  7.64852927,  4.28809458],
       [ 7.82623792,  1.58113883,  9.40907074],
       [16.10124219, 19.14418972,  9.71533608],
       [12.5399362 , 15.70031847,  7.28711471],
       [ 2.5       ,  6.51920241, 13.14596237],
       [ 4.03112887, 10.9772492 , 15.73764498],
       [10.59481005,  2.91547595, 11.21678771],
       [ 2.06155281,  6.04152299, 12.14621802],
       [12.5399362 , 12.34908904,  1.54523626],
       [ 4.27200187,  3.53553391, 10.2867063 ]])

In [11]:
alldistances[0]

array([ 5.85234996, 10.12422837,  7.49012956])

In [12]:
np.array([alldistances[0],alldistances[9],alldistances[10],alldistances[12]]).mean()

8.052265793640936